.dark-theme .post-content figure,
.dark-theme .post-content figure.highlight .code pre {
  background-color: $dark-post-blockquote-background-color;
  color: #fffef9;
  font-family: Consolas;
}
.dark-theme .post-content figure.highlight .gutter pre {
  background-color: $dark-post-blockquote-background-color;
  color: #fffef9;
  font-family: Consolas;
}
